torch==2.6.0
datasets==3.5.0
sentence-transformers==4.1.0
transformers==4.51.3
sentencepiece==0.2.0
tensorrt==10.9.0.34
tensorrt-cu12==10.9.0.34
tensorrt_cu12_bindings==10.9.0.34
tensorrt_cu12_libs==10.9.0.34
tensorflow==2.19.0
tensorflow-io-gcs-filesystem==0.37.1
langchain==0.3.23
langchain-community==0.3.21
langchain-core==0.3.54
langchain-huggingface==0.1.2
langchain-text-splitters==0.3.8
langchain-community==0.3.21
langchain-huggingface==0.1.2
playwright==1.51.0
playwright-stealth==1.0.6
playwright-stealth==1.0.6
html2text==2025.4.15
faiss-cpu==1.10.0
accelerate==1.6.0
peft==0.15.2
bitsandbytes==0.45.5
trl==0.16.1
gradio==5.25.2
gradio_client==1.8.0
docx2txt==0.9
unstructured==0.17.2
unstructured-client==0.33.0
openpyxl==3.1.5
rapidocr-onnxruntime==1.4.4
jq==1.8.0
python-docx==1.1.2
pypandoc==1.15
python-pptx==1.0.2